@page "/"

@using BudgetVisualization.Components
@using BudgetVisualization.Services

@inject BrowserService Service

<h1>Window Dimensions</h1>

<p>Window Height: @Height</p>
<p>Window Width: @Width</p>

<button @onclick="GetDimensions">Get Dimensions</button>

@if (IsMobile)
{

    <p>
        Mobile Website
    </p>
}
else
{
    <p>
        Desktop Website
    </p>
}


<style>
</style>