@page "/"
@page "/{SectionName}"

@using BudgetVisualization.Components

@SectionName

@if (AppState.IsMobile)
{

    <p>
        Mobile Website
    </p>
}
else
{
    <p>
        Desktop Website
    </p>
}


<style>

</style>