@page "/"
@page "/{SectionName}"

@using BudgetVisualization.Components
@using BudgetVisualization.Data

<Message></Message>

<div>
    <div class="carousell">
        <MatList Style="padding:0px;">
            <MatListItem Class="proposedItem">
                <ProposedBudgetItem itemData=@myItem />
            </MatListItem>
            <MatListItem Class="proposedItem">
                <ProposedBudgetItem itemData=@myItem />
            </MatListItem>
            <MatListItem Class="proposedItem">
                <ProposedBudgetItem itemData=@myItem />
            </MatListItem>
            <MatListItem Class="proposedItem">
                <ProposedBudgetItem itemData=@myItem />
            </MatListItem>
            <MatListItem Class="proposedItem">
                <ProposedBudgetItem itemData=@myItem />
            </MatListItem>
            <MatListItem Class="proposedItem">
                <ProposedBudgetItem itemData=@myItem />
            </MatListItem>
        </MatList>
    </div>
    <div class="carousell">
        <MatList Style="padding: 0px;">
            <MatListItem Class="proposedItem">
                <ProposedBudgetItem itemData=@myItem />
            </MatListItem>
            <MatListItem Class="proposedItem">
                <ProposedBudgetItem itemData=@myItem />
            </MatListItem>
            <MatListItem Class="proposedItem">
                <ProposedBudgetItem itemData=@myItem />
            </MatListItem>
            <MatListItem Class="proposedItem">
                <ProposedBudgetItem itemData=@myItem />
            </MatListItem>
            <MatListItem Class="proposedItem">
                <ProposedBudgetItem itemData=@myItem />
            </MatListItem>
            <MatListItem Class="proposedItem">
                <ProposedBudgetItem itemData=@myItem />
            </MatListItem>
        </MatList>
    </div>
    <div class="carousell-result mat-elevation-z1">
        <ComparisonResult FirstSelection="Hello this is the first item" CalculatedValue="10" ImagePath="https://picsum.photos/200/200" SecondSelection="Testing this text here"></ComparisonResult>
    </div>

</div>

@SectionName

@if (AppState.IsMobile)
{

    <p>
        Mobile Website
    </p>
}
else
{
    <p>
        Desktop Website
    </p>
}


<style>

    
</style>

@code {
    ProposedItem myItem = new ProposedItem("Employment Training",
                                            762000,
                                            762000,
                                            "http://picsum.photos/150/150",
                                            -25);
}