@page "/Resources"

@inject IStringLocalizer<App> Localize

<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
            <MatH4><b>Resources</b></MatH4>
        </div>
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12" style="margin-bottom: 3vh;">
            <MatDivider></MatDivider>
        </div>
    </div>
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">

            <h4 style="margin-bottom: 2px"><a class="resource-tile" href="https://www.miamidade.gov/global/management/budget/2020-21-adopted-budget.page">The 2021-2021 Budget </a></h4>

            Here is Miami-Dade’s Adopted Budget for 2020-2021.

            <h4 style="margin-top: 30px;">
                <a class="resource-tile" href="https://www.miamidade.gov/budget/library/fy2020-21/adopted/appendix-b.pdf">
                    Table of Operating Budget
                </a>
            </h4>
            <p style="font-size: medium;">
                This is a table of the Operating Budget expenses by revenue source, also known as “Appendix A”.
            </p>

            <br />

            <h6>
                <b>
                    Departmental Budget Narratives Used On This Site:
                </b>
            </h6>

            <a href="https://www.miamidade.gov/budget/library/fy2020-21/adopted/police.pdf" target="_blank">Police</a>
            <br />
            <a href="https://www.miamidade.gov/budget/library/fy2020-21/adopted/corrections-and-rehabilitation.pdf" target="_blank">Corrections and Rehabilitation</a>
            <br />
            <a href="https://www.miamidade.gov/budget/library/fy2020-21/adopted/community-action-and-human-services.pdf" target="_blank">Community Action and Human Services</a>

        </div>
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-8-desktop">
            <h4 style="margin-bottom: 2px"><a class="resource-tile" href="https://www.miamidade.gov/commission/" target="_blank">Who is My Commissioner?</a></h4>
            <p style="font-size: medium;">
                The County Commissioners are the individuals elected in Miami-Dade’s 13 districts to represent us.
                Click the link above to find out who represents your district and tell them your thoughts about
                this year’s budget!
            </p>
            <div class="mat-layout-grid commissioner-list">
                <div class="mat-layout-grid-inner">
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">



                        <p>
                            <b>District 1: Barbara J. Jordan </b><br />
                            <a href="tel:305-375-5694">305-375-5694</a> <br />
                            <a href="mailto:bjordan@miamidade.gov">bjordan@miamidade.gov</a> <br />
                            <a href="mailto:District1@miamidade.gov">District1@miamidade.gov</a> <br />
                        </p>


                        <p>
                            <b>District 2: Jean Monestime </b><br />
                            <a href="tel:305-375-4833">305-375-4833</a> <br />
                            <a href="mailto:district2@miamidade.gov">district2@miamidade.gov</a> <br />
                        </p>
                        <p>
                            <b>District 3: Audrey M. Edmonson </b><br />
                            <a href="tel:305-636-2331">305-636-2331</a> <br />
                            <a href="mailto:district3@miamidade.gov">district3@miamidade.gov</a>
                        </p>
                        <p>
                            <b>District 4: Sally A. Heyman</b><br />
                            <a href="tel:305-787-5999">305-787-5999</a> <br />
                            <a href="mailto:district4@miamidade.gov">district4@miamidade.gov</a>
                        </p>
                        <p>
                            <b>District 5: Eileen Higgins </b><br />
                            <a href="tel:305-375-5924">305-375-5924</a> <br />
                            <a href="mailto:district5@miamidade.gov">district5@miamidade.gov</a>
                        </p>
                        <p>
                            <b>District 6: Rebeca Sosa </b><br />
                            <a href="tel:305-267-6377">305-267-6377</a> <br />
                            <a href="mailto:district6@miamidade.gov">district6@miamidade.gov</a>
                        </p>
                        <p>
                            <b>District 7: Xavier L. Suarez </b><br />
                            <a href="tel:305-669-4003">305-669-4003</a> <br />
                            <a href="mailto:District7@miamidade.gov">District7@miamidade.gov</a>
                        </p>

                    </div>
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                        <p>
                            <b>District 8: Daniella Levine Cava </b><br />
                            <a href="tel:305-375-5218">305-375-5218</a> <br />
                            <a href="mailto:District8@miamidade.gov">District8@miamidade.gov</a>
                        </p>
                        <p>
                            <b>District 9: Dennis C. Moss </b><br />
                            <a href="tel:305-234-4938">305-234-4938</a>
                            <a href="mailto:DennisMoss@miamidade.gov">DennisMoss@miamidade.gov</a>
                        </p>
                        <p>
                            <b>District 10: Javier D. Souto </b><br />
                            <a href="tel:305-222-2116">305-222-2116</a> <br />
                            <a href="mailto:district10@miamidade.gov">district10@miamidade.gov</a>
                        </p>
                        <p>
                            <b>District 11: Joe A. Martinez </b><br />
                            <a href="tel:305-552-1155">305-552-1155</a> <br />
                            <a href="mailto:district11@miamidade.gov">district11@miamidade.gov</a>
                        </p>
                        <p>
                            <b>District 12: Jose “Pepe” Dias </b><br />
                            <a href="tel:305-599-1200">305-599-1200</a> <br />
                            <a href="mailto:district12@miamidade.gov">district12@miamidade.gov</a>
                        </p>
                        <p>
                            <b>District 13: Esteban L. Bovo, Jr. </b><br />
                            <a href="tel:305-820-8424">305-820-8424</a> <br />
                            <a href="mailto:district13@miamidade.gov">district13@miamidade.gov</a>
                        </p>
                        <p>
                            <b>Mayor: Carlos A. Gimenez </b><br />
                            <a href="tel:305-375-5071">305-375-5071</a> <br />
                            <a href="mailto:mayor@miamidade.gov">mayor@miamidade.gov</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .resource-tile {
        color: #c30d2f;
        font-stretch: expanded;
        text-decoration: underline;
    }

    .commissioner-list {
        padding-left: 0;
    }
</style>
