@page "/{SectionName}"

@using BudgetVisualization.Components
@using BudgetVisualization.Data


    <Message></Message>

    <div class="carousell-page">
        <div class="carousell-container">
            <div class="carousell">
                <MatList Style="padding:0px;">
                    @foreach (var item in BudgetData.GetSection(SectionName).ProposedItems)
                    {
                        <MatListItem Class="proposedItem">
                            <ProposedBudgetItem itemData=@item />
                        </MatListItem>
                    }
                </MatList>
            </div>

            @*Alignment messes up with sufficiently long text.*@
            <div class="carousell carousell-last">
                <MatList Style="padding: 0px;">
                    @foreach (var item in BudgetData.GetCurrentComparedToSection().ProposedItems)
                    {
                        <MatListItem Class="proposedItem">
                            <ProposedBudgetItem itemData=@item />
                        </MatListItem>
                    }
                </MatList>
            </div>
        </div>
        <div class="carousell-result mat-elevation-z1">
            <ComparisonResult FirstSelection="Hello this is the first item" CalculatedValue="10" ImagePath="https://picsum.photos/200/200" SecondSelection="Testing this text here"></ComparisonResult>
        </div>

    </div>

@code {

    [Parameter]
    public string SectionName { get; set; }
    
}