@page "/test"
@using BudgetVisualization.Components

<h3>Test</h3>

<ProposedBudgetItem
                    ItemName="Employment Training"
                    ItemValue="762000"
                    BudgetValue="762000"
                    percent="25"
                    Active="false"
                    SelectionType="years"/>


@code {

}
