
<div>
    <h4 style="margin-bottom: 12px">
        <b class="resource-tile-campaign">
            @CampaignName
        </b>
    </h4>
    <p>
        @CampaignDescription
    </p>

    <b class="resource-tile-action">
        @CampaignActionTitle:
    </b>
    <b> @CampaignActionContent</b>

</div>

<div class="mat-layout-grid-cell mat-layout-grid-cell-span-9" style="margin-bottom: 3vh;margin-top: 22px">
    <MatDivider></MatDivider>
</div>

<style>
    .resource-tile-campaign {
        color: #1d862f;
        font-stretch: expanded;
    }

    .resource-tile-action {
        color: #c30d2f;
        font-stretch: expanded;
    }

    .commissioner-list {
        padding-left: 0;
    }
</style>
