<style>




</style>


<img class="comparison-image" src="@ImagePath" />
<p class="comparison-text">
    For the price of @SecondSelection, we could pay
    for @CalculatedValue @Units @FirstSelection.
</p>


@code {

    [Parameter]
    public string FirstSelection { get; set; }

    [Parameter]
    public string SecondSelection { get; set; }

    [Parameter]
    public string Units { get; set; }

    [Parameter]
    public string ImagePath { get; set; }

    [Parameter]
    public double CalculatedValue { get; set; }

}
