
<img class="comparison-image" src="@ImagePath" />
<div class="comparison-text">
    <p class="comparison-text-part comparison-text-part-original">
    One year of salaries for 45 new police officer positions is equivalent to 69% of the County's funding for the 13 Community Resource Centers through which residents can access the range of social services offered by the County, from computer training to meals for the</p>
    <p class="comparison-text-part"> elderly to substance abuse treatment.</p>
</div>



@code {

    [Parameter]
    public string FirstSelection { get; set; }

    [Parameter]
    public string SecondSelection { get; set; }

    [Parameter]
    public string Units { get; set; }

    [Parameter]
    public string ImagePath { get; set; }

    [Parameter]
    public double CalculatedValue { get; set; }

}
