<div>

</div>
<img class="comparison-image" src="@ImagePath" />
<div class="comparison-text">
    <p style="overflow: hidden;">
        @ComparisonText
    </p>
    @*<p class="comparison-text-part comparison-text-part-original">
       
    </p>
    <p class="comparison-text-part"> elderly to substance abuse treatment.</p>*@
</div>



@code {

    [Parameter]
    public string ComparisonText { get; set; }

    [Parameter]
    public string ImagePath { get; set; }

    

}
