<style>
    .demo-mat-card-content {
        padding: 1rem;
    }

    .demo-mat-card-clean-margin {
        margin: 0px;
    }

    .icon {
        display: inline;
    }

    .demo-mat-card-clean-margin {
        display: inline;
    }

</style>

<MatCard class="demo-mat-card">
    <MatCardContent>
        <div class="demo-mat-card-content">
            <MatIcon class="icon" Icon="warning"></MatIcon>
            <MatHeadline6 class="demo-mat-card-clean-margin">
                Where does the budget funding come from?
            </MatHeadline6>
        </div>
        <MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">
            The general fund is your paycheck, fines, and fees. How do you think your money should be spent?
            We've created some comparisons below. Select a budget in the main menu on the left and then scroll through
            options to compare them with police and jails budget items.
        </MatBody2>
    </MatCardContent>
</MatCard>


@code {

}
