<div class="mat-layout-grid-inner">
    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2 icon-grid">
        <MatIcon class="icon" Icon="warning"></MatIcon>
    </div>
    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-10  mat-layout-grid-cell-align-middle">
        <p style=" text-align: inherit; margin: auto;">
            Our last chance to tell County Commissioners how we want our money spent is taking place
            digitally on <b>Thursday, September 17th at 5:00pm</b> via Zoom.
                         <a href="https://www.miamidade.gov/commission/registration/2020-09-17-BCC-meeting-registration.asp">Click here to register!</a>
        </p>
    </div>
</div>