<style>

    
</style>


<div class="mat-layout-grid message">
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2 icon-grid">
            <MatIcon class="icon" Icon="warning"></MatIcon>
       </div>
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-10">
            <h4 class="message-heading">
                Where does the budget funding come from?
            </h4>
            <p>
                The general fund is your paycheck, fines, and fees. How do you think your money should be spent?
                We've created some comparisons below. Select a budget in the main menu on the left and then scroll through
                options to compare them with police and jails budget items.
            </p>
        </div>
    </div>
</div>



@code {

}
