<style>
</style>


<div class="mat-layout-grid message">
    <MessageContent></MessageContent>
</div>

@if (IsMobile)
{
    <MatDialog @bind-IsOpen="@dialogIsOpen">
        <MatDialogContent>
            <div class="mat-layout-grid">
                <MessageContent></MessageContent>
            </div>
        </MatDialogContent>
        <MatDialogActions>
            <MatButton OnClick="@OkClick" Raised="true">OK</MatButton>
        </MatDialogActions>
    </MatDialog>
}


@code {

    [Parameter]
    public bool IsMobile { get; set; }

    bool dialogIsOpen = true;

    void OkClick()
    {
        dialogIsOpen = false;
    }

}
