<style>

    
</style>


<div class="mat-layout-grid message">
    <MessageContent></MessageContent>
</div>

<div class="message-mobile">
    <MatDialog @bind-IsOpen="@dialogIsOpen">
        <MatDialogContent>
            <div class="mat-layout-grid">
                <MessageContent></MessageContent>
            </div>
        </MatDialogContent>
        <MatDialogActions>
            <MatButton OnClick="@OkClick" Raised="true">OK</MatButton>
        </MatDialogActions>
    </MatDialog>
</div>

@code {

    bool dialogIsOpen = true;

    void OkClick()
    {
        dialogIsOpen = false;
    }

}
