<style>

    
</style>


<div class="mat-layout-grid message">
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2 icon-grid">
            <MatIcon class="icon" Icon="warning"></MatIcon>
       </div>
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-10  mat-layout-grid-cell-align-middle">
            <p style="text-align: inherit;">
                Our opportunity to make comments to County Commissioners on how we want our money spent is taking
                place digitally <b>Thursday, September 3rd at 5:00PM</b> via Zoom. 
                <a href="https://www.miamidade.gov/commission/registration/2020-09-03-BCC-meeting-registration.asp">Click here to register!</a>
            </p>
        </div>
    </div>
</div>



@code {

}
