<div class="mat-layout-grid" style="max-width: 800px; max-height: 800px">
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell" style="background-color: #e8f0f6">
            @ItemName <br/>
            $@BudgetValue Proposed <br/>
            @percent% from last year
            @if (Active)
            {
                <div>Active Selection</div>
            }
        </div>
    </div>
</div>



@code {

    [Parameter]
    public string ItemName { get; set; }

    [Parameter]
    public float ItemValue { get; set; }

    [Parameter]
    public float BudgetValue { get; set; }

    [Parameter]
    public float percent { get; set; }

    [Parameter]
    public bool Active { get; set; }

    [Parameter]
    public string SelectionType { get; set; }


}
