<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell">
            @ItemName
        </div>
        <div class="mat-layout-grid-cell">
            @ItemValue
        </div>
        <div class="mat-layout-grid-cell">
            @BudgetValue
        </div>
        <div class="mat-layout-grid-cell">
            @percent
        </div>
        <div class="mat-layout-grid-cell">
            @Active
        </div>
        <div class="mat-layout-grid-cell">
            @SelectionType
        </div>
    </div>
</div>



@code {

    [Parameter]
    public string ItemName { get; set; }

    [Parameter]
    public float ItemValue { get; set; }

    [Parameter]
    public float BudgetValue { get; set; }

    [Parameter]
    public float percent { get; set; }

    [Parameter]
    public bool Active { get; set; }

    [Parameter]
    public string SelectionType { get; set; }



}
