@using BudgetVisualization.Data 

<div class="mat-layout-grid mat-layout-grid-align-left" style="max-width: 800px">
    <div class="mat-layout-grid-inner">

        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3 item">
            <div class="item-illustration">
                <MatIcon Icon="@MatIconNames.Work"></MatIcon>
            </div>
        </div>

        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3 item">
            <div class="item-content">
                @itemData.ItemName 
<br />
                $@itemData.BudgetValue Proposed
            </div>

            <div class="item-percent">
                @itemData.percent% from last year
            </div>
        </div>
    </div>
</div>

<style>
    .item {
        position: relative;
        width: 200px;
        height: 150px;
        background-color: #accce7;
    }

    .item-content {
        text-align: center;
    }

    .item-percent {
        text-align: center;
        position: absolute;
        bottom: 0px;
        font-size: 15px;
    }

    .item-illustration {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
</style>


@code {

    [Parameter]
    public ProposedItem itemData { get; set; }

    string color;

    string defaultColor = "#accce7";
    string activeColor = "#86abca";

    protected override void OnInitialized()
    {
        //TODO: Remove this once onClick implemented
        itemData.Active = false;

        if(itemData.Active)
        {
            color = activeColor;
        }
        else
        {
            color = defaultColor;
        }
    }
}
