<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell">
            @ItemName
        </div>
        <div class="mat-layout-grid-cell">
            @ItemValue
        </div>
    </div>
</div>



@code {

    [Parameter]
    public string ItemName { get; set; }

    [Parameter]
    public float ItemValue { get; set; }


    protected override void OnParametersSet()
    {
        System.Console.WriteLine(" Parameters" + ItemName);
    }

    protected override void OnInitialized()
    {
        System.Console.WriteLine("Initialized" + ItemName);

    }

}
