<h3>Resources</h3>
<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4-desktop mat-layout-grid-cell-span-1-tablet">
            <h4>The Proposed Budget</h4>
            <h4>Chart of Operating Budget</h4>

            <p>
                Departmental Budget Narratives Used On This Site
            </p>

            <a href="https://www.miamidade.gov/budget/library/fy2020-21/proposed/police.pdf" target="_blank">Police</a>
            <a href="https://www.miamidade.gov/budget/library/fy2020-21/proposed/corrections-and-rehabilitation.pdf" target="_blank">Corrections and Rehabilitation</a>
            <a href="https://www.miamidade.gov/budget/library/fy2020-21/proposed/judicial-administration.pdf" target="_blank">Judicial Administration</a>
            <a href="https://www.miamidade.gov/budget/library/fy2020-21/proposed/transportation-and-public-works.pdf" target="_blank">Transportation and Public Works</a>
            <a href="https://www.miamidade.gov/budget/library/fy2020-21/proposed/community-action-and-human-services.pdf" target="_blank">Community Action and Human Services</a>

        </div>
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-8-desktop mat-layout-grid-cell-span-1-tablet">
            <h4>Who is My Commissioner?</h4>
            <div class="mat-layout-grid">
                <div class="mat-layout-grid-inner">
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                        
           
                        
                        <p>
                            District 1: Barbara J. Jordan
                        </p>
                            <a href="tel:305-375-5694">305-375-5694</a>
                            <a href="mailto:bjordan@miamidade.gov">bjordan@miamidade.gov</a>
                            <a href="mailto:District1@miamidade.gov">District1@miamidade.gov</a>
                       

                        <p>
                           District 2 Jean Monestime
                            305-375-4833
                            district2@miamidade.gov
                        </p>
                        <p>
                            District 3: Audrey M. Edmonson
                            305-636-2331
                            district3@miamidade.gov
                        </p>
                        <p>
                            District 4: Sally A. Heyman
                            305-787-5999
                            district4@miamidade.gov
                        </p>
                        <p>
                            District 5: Eileen Higgins
                            305-375-5924
                            district5@miamidade.gov
                        </p>
                        <p>
                            District 6: Rebeca Sosa
                            305-267-6377
                            district6@miamidade.gov
                        </p>
                        <p>
                            District 7: Xavier L. Suarez
                            305-669-4003
                            District7@miamidade.gov
                        </p>

                    </div>
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                        District 8: Daniella Levine Cava
                        305-375-5218
                        District8@miamidade.gov

                        District 9: Dennis C. Moss
                        305-234-4938
                        DennisMoss@miamidade.gov

                        District 10: Javier D. Souto
                        305-222-2116
                        district10@miamidade.gov

                        District 11: Joe A. Martinez
                        305-552-1155
                        district11@miamidade.gov

                        District 12: Jose “Pepe” Dias
                        305-599-1200
                        district12@miamidade.gov

                        District 13: Esteban L. Bovo, Jr.
                        305-820-8424
                        district13@miamidade.gov

                        Mayor: Carlos A. Gimenez
                        305-375-5071
                        mayor@miamidade.gov

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    
</style>

@code {

}
