@using Microsoft.AspNetCore.Components
@inject NavigationManager uriHelper


    <MatNavMenu Class="sidebarApp  mat-elevation-z1">

        @for (int i = 0; i < (BudgetData.BudgetSections.Count); i++)
            {
                int ii = i;

                <MatNavItem Class="sidebarApp-item" Href="@uriHelper.ToAbsoluteUri(
                                                                  BudgetData.BudgetSections[ii].SectionName).AbsoluteUri">
                    <div class="sidebarApp-item-content">
                        <MatIcon Icon="@BudgetData.BudgetSections[ii].Icon"></MatIcon>
                        <div>@BudgetData.BudgetSections[ii].SectionName</div>
                    </div>
                </MatNavItem>
        }

    </MatNavMenu>




<style>

    .sidebarApp-item-content {
        width: 100px;
        height: 100px;
        font-size: 11px;
        position: relative;
        text-align: center;
        margin: auto;
    }
</style>

